.feedParent {
  width: 100%;
  margin: 30px 0;
}
.feedChild {
  width: 90%;
  margin: 0 auto;
  max-width: 1220px;
}
.feedChild > h2 {
  color: var(--black);
  margin-bottom: 20px;
}
.adsContainer {
  display: grid;
  grid-template-columns: repeat(4, 289px);
  grid-gap: 20px;
}

@media (max-width: 700px) {
  .adsContainer {
    grid-template-columns: repeat(2, 300px);
  }
}
@media (max-width: 350px) {
  .adsContainer {
    grid-template-columns: 100%;
  }
}
