.viewParentDiv {
  width: 100%;
  padding-top: 90px;
  margin-bottom: 20px;
}
.viewChildDiv {
  /* width: 95%; */
  width: 100%;
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
}
.left {
  width: 68%;
  display: flex;
  flex-direction: column;
}
.left > div {
  width: 100%;
}
.imageView {
  border-radius: 7px;
  border: var(--border);
  overflow: hidden;
}
.imageViewTop {
  height: 450px;
  background-color: black;
}
.imageViewTop > img {
  width: 100%;
  height: 450px;
  object-fit: contain;
}
.imageSelector {
  padding: 20px;
}
.imageSelector > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}
.infoContainer {
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 7px;
}
.infoContainer > h3 {
  margin-bottom: 15px;
  color: var(--black);
}
.detailsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.detailsContainer > div {
  width: 50%;
  display: flex;
  padding: 5px 0;
}
.detailsContainer > div > p {
  width: 50%;
}
.detailsContainer > div > p:nth-child(1) {
  color: grey;
}
.infoContainer > hr {
  background-color: lightgrey;
  border: none;
  height: 1px;
  margin: 20px 0;
}
.right {
  width: 32%;
  display: flex;
  flex-direction: column;
  /* background-color: lightpink; */
  margin-left: 20px;
}
.right > div {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.productInfoTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.productInfoTop > h3 {
  font-size: 35px;
  color: var(--black);
}

.productInfo > p {
  font-size: 18px;
  margin-bottom: 7px;
  color: var(--black);
}
.productInfo > p:nth-child(3) {
  color: grey;
  margin-bottom: 25px;
}
.productInfoBottom {
  display: flex;
  justify-content: space-between;
}
.productInfoBottom > p {
  font-size: 12px;
  color: grey;
  text-transform: uppercase;
}

.sellerInfo {
  padding: 25px 20px;
}
.sellerInfo > p {
  font-size: 22px;
  color: var(--black);
}
.sellerInfo > div {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.sellerInfo > div > img {
  width: 60px;
  height: 60px;
  border-radius: 999px;
  object-fit: cover;
  margin-right: 20px;
  cursor: pointer;
}
.sellerInfoContainer {
  flex: 1;
  cursor: pointer;
}
.sellerInfoContainer > h3 {
  font-size: 16px;
  font-weight: 1200 !important;
  color: var(--black);
  margin-bottom: 5px;
}
.sellerInfoContainer > p {
  font-size: 10px;
}
.arrowContainer {
  transform: rotateZ(270deg);
  cursor: pointer;
}
.sellerInfo > button {
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: var(--black);
  color: white;
  font-size: 16px;
  font-weight: 800;
  margin-top: 15px;
  cursor: pointer;
}
.sellerInfo > button:hover {
  border: 5px solid var(--black);
  background-color: white;
  color: var(--black);
}
