.createPost {
  width: 100%;
  padding-top: 100px;
  z-index: -999;
}
.createPostChild {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  color: var(--black);
  /* background-color: lightsalmon; */
}
.createPostChild > h2 {
  margin-bottom: 20px;
}
.categoriesContainer {
  width: 100%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
}
.categoriesContainer > h2 {
  margin: 20px;
}
.createPostForm {
  width: 100%;
  border: 1px solid var(--light-border);
  border-radius: 5px;
  /* padding: 40px 40px 10px 40px; */
  /* background-color: red; */
}
.formHeader {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.formDetailsInput,
.formPriceInput,
.formImagesInput {
  border-bottom: 1px solid lightgrey;
  padding: 30px;
  padding-bottom: 0;
}
.formDetailsInput > h2,
.formPriceInput > h2,
.formImagesInput > h2 {
  margin-bottom: 20px;
}
.formInputWrapper {
  margin-bottom: 30px;
}
.formInputWrapper > p:first-child {
  font-size: 16px;
  margin-bottom: 5px;
}
.formInputWrapper > p:last-child {
  font-size: 12px;
  color: grey;
}
.formInputWrapper > input {
  width: 60%;
  height: 45px;
  margin-bottom: 5px;
  border: 1px solid var(--black);
  border-radius: 3px;
}
.productImage {
  width: 60%;
}

.photosContainer {
  width: 100%;
  display: flex;
}
.singlePhoto {
  border: 1px solid grey;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: grid;
  place-items: center;
}
.singlePhoto > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.singlePhoto > svg {
  color: grey;
}
.formSubmit {
  padding: 30px;
}
.formSubmit > button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 800;
  color: white;
  background-color: var(--black);
  border: none;
  border-radius: 3px;
}
