.profileParent {
}
.profileChild {
  padding-top: 72px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iamgeContainer {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
}
.iamgeContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.iamgeContainer > div {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 128, 0, 0.672);
  width: 100%;
  display: grid;
  place-items: center;
  padding: 10px 0;
}
