.homeParentDiv {
  width: 100%;
}
.homeParentDiv > img {
  width: 100%;
}

@media (max-width: 700px) {
  .homeParentDiv > img {
    height: 150px;
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  .homeParentDiv > img {
    height: 130px;
    object-fit: cover;
  }
}
