.headerParentDiv {
  padding: 10px 0;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.headerChildDiv {
  margin: 0 auto;
  width: 95%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeSearch {
  width: 25%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
}

.placeSearch ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}

.placeSearch > input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
}

.productSearch {
  width: 35em;
  height: 48px;
  border: 2px solid #002f34;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productSearch > input {
  flex: 1;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0 10px;
}
.productSearch .searchAction {
  min-width: 48px;
  height: 48px;
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: #002f34;
  border-radius: 0 4px 4px 0;
}

.productSearch .searchAction svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: white;
}

.language {
  height: 48px;
  display: flex;
  align-items: center;
}

.language span {
  /* justify-content: space-between;
  align-items: center; */
  font-size: 15px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

.span {
  text-decoration: none;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right: 5px;
}

.loginPage hr {
  margin: 0;
  background-color: black;
  height: 2px;
}

.loginPage a {
  text-decoration: none;
}
.loginPage > span {
  cursor: pointer;
}
/* User Accout */
.userProfile {
  background-color: white;
  border-radius: 99px;
  position: relative;
}
.userProfileBubble {
  display: flex;
  align-items: center;
  padding-right: 5px;
  cursor: pointer;
}
.userProfileBubble > img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 4px;
  border-radius: 999px;
}
.userProfileArrowContainer {
  transition: transform 0.2s ease-in;
  padding-top: 5px;
}
.userMenu {
  width: 300px;
  background-color: white;
  position: absolute;
  top: 50px;
  transform: translateX(-70%);
  box-shadow: 2px 2px 20px #d3d3d351, -2px -2px 20px #d3d3d351;
}
.userMenuTop {
  display: flex;
  padding: 10px;
  align-items: center;
}
.userMenuTop > img {
  width: 70px;
  height: 70px;
  border-radius: 999px;
  object-fit: cover;
  margin-right: 10px;
}
.userMenuTop > div > p,
.userMenuTop > div > a > p {
  font-size: 14px;
  font-weight: 500;
  color: grey;
}
.userMenuOptions {
  border-top: 1px solid lightgrey;
}
.userMenuOptions > div,
.userMenuOptions > a > div {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.userMenuOptions > div > p,
.userMenuOptions > a > div > p {
  margin-left: 10px;
  font-size: 14px;
}
.userMenuOptions > div:hover,
.userMenuOptions > a > div:hover {
  background-color: rgba(211, 211, 211, 0.296);
}
.sellMenu {
  position: relative;
  cursor: pointer;
}

.sellMenu .all {
  fill: white;
}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}
.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}

/* .sellMenu .sellMenuContent svg {
  align-items: center;
} */
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch,
  .sellMenu {
    display: none;
  }
}
