.ad {
  width: 100%;
  max-width: 289px;
  background-color: white;
  height: 280px;
  padding: 7px;
  border-radius: 5px;
  border: var(--border);
}
.adTop {
  width: 100%;
  height: 60%;
}
.adTop > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.adBottom {
  width: 100%;
  height: 40%;
  padding: 10px;
  padding-bottom: 0;
  position: relative;
}
.adBottom > h3 {
  color: var(--black);
  margin-bottom: 5px;
}
.adBottom > p {
  color: var(--black);
  font-size: 16px;
  margin-bottom: 3px;
}
.adBottom > p:nth-child(3) {
  color: grey;
  margin-bottom: 10px;
  max-width: 100%;
  overflow-x: hidden;
}
.adBottom > div {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
}
.adBottom > div > p {
  font-size: 10px;
  color: grey;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .ad {
    max-width: 100%;
  }
}
