.loginParent {
  width: 100vw;
  height: 100vh;
  background-color: #000000d9;
  z-index: 999;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
}
.login {
  width: 400px;
  height: 550px;
  background-color: white;
  border-radius: 3px;
  padding: 20px;
  position: relative;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linksContainer > button {
  width: 100%;
  height: 45px;
  border: 2px solid var(--black);
  border-radius: 3px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 800;
  color: var(--black);
}
.linksContainer > button:hover {
  border: 5px solid var(--black);
}
.linksContainer > h4 {
  margin: 10px auto;
  display: inline;
  /* width: 100%; */
  text-align: center;
  /* background-color: blue; */
}
.linksContainer > p {
  margin-top: 10px;
  font-size: 10px;
}
/* Top Icons */
.closeIconContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}
.arrowContainer {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* EmailLogin */
.emailLoginContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.emailLoginContainer > h3 {
  margin: 15px 0;
}
.emailLoginContainer > p {
  font-size: 10px;
  color: grey;
  margin: 20px 30px;
}
.emailLoginForm > input {
  padding: 10px;
  border: 2px solid var(--black);
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
}
.emailLoginForm > input:focus {
  border: 2px solid var(--blue);
}
.emailLoginForm > div {
  margin-top: 3px;
  width: 100%;
  min-height: 12px;
}
.emailLoginForm > div > p {
  color: red;
  font-size: 12px;
}
.emailLoginForm > p {
  font-size: 12px;
  margin: 20px;
}
.emailLoginForm > button {
  border: none;
  background-color: var(--black);
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Email Signup */
.emailSignupContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.emailSignupContainer > h3 {
  margin: 15px 0;
}
.emailSignupContainer > p {
  color: grey;
  font-size: 12px;
  margin: 20px;
}
.emailSignupForm {
  width: 100%;
}
.emailSignupForm > input {
  padding: 10px;
  border: 2px solid var(--black);
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 3px;
}
.emailSignupForm > div {
  height: 10px;
  width: 100%;
  /* background-color: lightgreen; */
}
.emailSignupForm > div > p {
  font-size: 12px;
  color: red;
}
.emailSignupForm > button {
  border: none;
  background-color: var(--black);
  color: white;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
}
