/* Googlr fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /* Colors */
  --light-bg: #002f3408;
  --light-border: lightgrey;
  --black: #002f34;
  --blue: red;
}
.app {
  width: 100vw;
  height: 100vh;
}
a {
  color: black;
}
svg {
  fill: var(--black);
}
